@media (max-width: 768px) {
    #acerca-de-mi p {
        font-size: 1rem; 
    }
}

@media (max-width: 768px) {
    #contacto .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #contacto .col-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contacto img {
        width: 60px; 
        height: 60px;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

@media (min-width: 769px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .square-img {
        max-width: 80px;
        margin: 0 auto;
    }
    
    h1 {
        font-size: 1.8rem !important;
        text-align: center;
    }
    p {
        font-size: 1.1rem !important;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
}

.img-hover {
    transition: transform 0.2s ease, filter 0.2s ease; 
}

.img-hover:hover {
    transform: scale(1.01); 
    filter: brightness(80%); 
}

.col-md-4 img {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.square-img {
    width: 100%; 
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    border-radius: 15px; 
}

body {
    background: linear-gradient(to bottom, #d9edf8, #62b1d3); 
    color: rgb(0, 0, 0); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* La misma fuente que el cuerpo */
    font-size: 1.5em;
    
}
.navbar-nav .nav-link {
    color: white !important; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 2em; 
    font-weight: bold;
}

p {
    font-size: 1.3em; 
}

#acerca-de-mi h1 {
    padding-top: 0px;
}

